[Unit]
Description=Motor proxy service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/Documents/motor_proxy/target/debug
ExecStart=/bin/bash /home/pi/Documents/motor_proxy/start_proxy.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
